* {
    box-sizing: border-box; 
}

body {

    margin: 0px;
    background: linear-gradient(to bottom, #ffffff, #00f7ff);

}

.container {

    display: flex;
    justify-content: flex-end; 

}

.språk {
    margin: 6px;
    background-color: whitesmoke;
    box-shadow: 0.2vw 0.2vw 1vw black;
    padding: 10px;
    width: fit-content;
    align-self: center;
    font-weight: bold;
    transition: background-color 0.2s, box-shadow 0.2s;
    cursor: pointer;
    text-decoration: none; /* Removes underline */
    outline: 2px solid black; /* Adds a black outline */
}


.språk:hover {

    background-color: #f0f0f0; 
    transform: scale(1.05); 
    box-shadow: 0.3vw 0.3vw 1.2vw gray; 
    animation: rotate 2s infinite cubic-bezier(0,.5,.5,1);

}

.språk:active {

    background-color: #e0e0e0; 
    transform: scale(0.95); 
    box-shadow: 0.1vw 0.1vw 0.8vw black; 

}


header {

    font-size: 10vw;
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;

}

.summary {

    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 2vw;
    text-align: center;

}

span {

    font-weight: bold;

}

#Text-devider {

    background-color: darkslategray;
    height: 1px;
    margin-top: 5%;

}

h1 {

    text-align: center;

}

.wrapper {

    display: flex;
    justify-content: center;
    padding: 3%;
    width: 100%;
    flex-wrap: wrap;

}

#Background-contrast {

    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 90%;
    background-color: #000000;
    opacity: 30%;
    border-radius: 25px;

}

.holder {

    display: flex;
    width: 42vw;
    height: 22.7vw;
    place-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;

}

.right {

    margin-left: 3%;
    margin-right: 1.5%;

}

.left {

    margin-left: 1.5%;
    margin-right: 3%;

}

.Flavour {

    font-size: 3vw;
    text-align: center;
    background-color: blueviolet;
    width: 80%;
    height: 80%;
    box-shadow: 1vw 1vw 5vw black;
    transition: all;
    transition-duration: 1000ms;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    z-index: 100;
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px #000000;

}

.Flavour:hover {

    width: 100%;
    height: 100%;
    font-size: 4vw;

}

.Flavour-divider-holder {

    display: flex;
    justify-content: center;
    width: 95%;
    height: 2px;
    opacity: 50%;

}

.Flavour-divider {

    height: 100%;
    width: 100%;
    background-color: #000000;

}

/* Images for the flavours */

#cottonCandy {
    background-image: url('imges/Cotton-Candy.jpg');
}

#cocaCola {
    background-image: url('imges/Coca-Cola.jpg');
}

#Klor {
    background-image: url('imges/Klor~Chlorine.jpg');
}

#Surt-äpple {

    background-image: url('imges/Sura-Äpplen~Sour_Apples');

}

#Chocklad {

    background-image: url('imges/Choklad~Chocolate.jpg');

}

#Pepparkaka {

    background-image: url('imges/Pepparkaka~Gingerbread.jpg');

}

#Root-beer {

    background-image: url('imges/Root_Beer.jpg');

}

#Abborre {

    background-image: url('imges/Abborre~Perch.jpg');

}

#Salt {

    background-image: url('imges/Salt.jpg');

}

#Bark {

    background-image: url('imges/Träd-Bark~Tree-Bark.jpg');

}

#Guano {

    background-image: url('imges/Guano.jpg');

}

#Metamfetamin {

    background-image: url('imges/Metamfetamin~Methamphetamine.jpg');
    cursor: not-allowed;
}



footer {

    background-color: rgba(83, 82, 82, 0.87);
    font-size: 100vw;
    width: 100%;
    text-align: center;
    font-size: 2.3vw;
    margin-top: 5%;

}

/* This is the popup */

#modal {

    display: none;
    position: fixed;
    place-items: end;
    justify-content: center;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

}

#modal-content {

    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 85%;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow-y: auto;

}

@keyframes animatetop {

    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }

}

#popup-description{

    font-size: 20px;

}

#popup-close-button {

    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;

}

#modal-header {

    display: flex;
    justify-content: space-between;

}

#image-holder {

    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    background-image: url('imges/Cotton-Candy.jpg');
    background-size: cover;
    border-radius: 10px;

}

#Herring-image {

    background-image: url('imges/Sill~Herring.png');
    background-repeat: no-repeat;
    width: 80%;
    background-size: cover;
    background-position: center;
    background-size: 100% auto;

}

#buy-button {

    margin-top: 10px;
    padding: 8px 16px;
    background: linear-gradient(to bottom, #4CAF50, #388E3C);
    color: white;
    border: none;
    border-radius: 0px;
    font-size: 18px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 100);

}

#buy-button:hover {

    background: linear-gradient(to bottom, #54c258, #42a847);
    cursor: pointer;
    transform: scale(1.05);

}

#buy-button:active{

    background: linear-gradient(to bottom, #3d8f41, #2b6e2e);
    cursor: pointer;
    transform: scale(0.95);

}

#nowrap{

    display: flex;
    flex-wrap: nowrap;

}

#user-input {

    width: 100%;
    margin-top: 10px;
    padding: 8px;
    font-size: 14px;
    height: 27px;
    margin-right: 10px;

}

#publish-button{

    height: 27px;

}

#comment-count {

    font-size: 200%;

}

#comments-section{

    display: flex;
    flex-wrap: wrap;

}

.name{

    font-size: 15px;
    margin-left: 10px;

}

.profile-picture{

    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #000000;
    margin-bottom: 10px;
    padding-top: 10px;

}

#profile1{

    background-image: url('imges/brittish-lad');

}

#profile2{

    background-image: url('imges/daniel-andersson.jpg');

}

#profile3{

    background-image: url('imges/crazy-woman');

}

.comment {

    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: #00000025;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 5px;

}

/* Cops are comming */

dialog {

    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;

  }

dialog::backdrop {

    background: rgba(0, 0, 0, 0.5);

}

#timer {

    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;

  }

  #test {

    position: fixed;
    top: 50vh;
    left: 50vw;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    background: rgb(56, 165, 56);
    transform: translate(-50%, -50%);
    z-index: 100000000000;
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    visibility: hidden;
    color: #c9cf0c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 100);
    text-shadow: 2px 2px #000000;
}

.animate {
    animation: upGrowDown 3s ease-in-out;
}

@keyframes upGrowDown {
    0% {
        transform: translate(-50%, -50%) translateY(100vh) scale(1);
        animation-timing-function: ease-out;
    }
    35% {
        transform: translate(-50%, -50%) translateY(0) scale(1);
        animation-timing-function: ease-out;
    }
    50% {
        transform: translate(-50%, -50%) translateY(0) scale(1.5);
        animation-timing-function: ease-out;
    }
    60% {
        transform: translate(-50%, -50%) translateY(0) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) translateY(100vh) scale(1);
        animation-timing-function: ease-in;
    }
}

    /* Makes links green */

a:link{

    color: #000000;

}

a:visited{

    color: #000000;

}

.zero-width{

    width: 0;

}

/* Turns anything invisable */

.hidden {

    opacity: 0%;

}

@media screen and (max-width: 768px) {

    .zero-width{

        width: 95%;

    }   

    .holder{

        width: 80vw;
        height: 43.2vw;

    }

    .Flavour{

        font-size: 5.7vw;

    }

    .Flavour:hover {

        width: 100%;
        height: 100%;
        font-size: 7.6vw;
    
    }

    #modal-content {

        width: 100%;

    }

    #textRuta{

        display: none;

    }

    footer{

        font-size: 20px;

    }

    #test{

        width: 100px;
        height: 40px;
        border-radius: 5px;
        font-size: 30px;

    }

}